[Desktop Entry]
Name=La-Mulana Randomizer
Comment=Randomizer for Nigoro's La-Mulana Video Game
Exec=
Type=Application
Categories=Game;
Icon=net.jonimoose.LaMulanaRando.RandoIcon
